<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swipe-button-prev"></div>
    <div class="swipe-button-next"></div>
    <div class="swiper-slide">
      <img src="images/slide1.jpg" alt="photo1" loading="lazy" />
    </div>
    <div class="swiper-slide">
      <img src="images/slide2.jpg" alt="photo2" loading="lazy" />
    </div>
    <div class="swiper-slide">
      <img src="images/slide3.jpg" alt="photo" loading="lazy" />
    </div>
    <div class="swiper-slide">
      <img src="images/slide4.jpg" alt="photo" loading="lazy" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script src="js/carousel.js"></script>