<form action="/dashboard/{{user.role}}" method="get" class="p-4">
  {{#each inputs}}
  {{> input }}
  {{/each}}
  <label class="relative inline-flex items-center mb-5 cursor-pointer">
    <input type="checkbox" value="" class="sr-only peer">
    <div
      class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:ring-2 peer-checked:bg-orange-500 ">
    </div>
    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Remember Password</span>
  </label>
  <button class="button w-full my-2">submit</button>
</form>