<div
    class="toast {{position}} {{duration}} bg-white w-56 p-4 left-[50%] z-[9000] cur dark:bg-[#fff1] backdrop-blur-md top-20 rounded-xl shadow-lg absolute">
    <img src="/images/svg/check.svg" alt="check" class="icon">
    <p class="toast-text">{{msg}}</p>
</div>