<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  {{!--
  <!-- Add the HTML code for the carousel -->--}}
  <link rel="stylesheet" href="/css/carousel.style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  {{!--
  <base href="http://localhost:3000" /> --}}
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/compiled.tailwind.css">
  <title>
    Departmetal website | {{title}}
  </title>
</head>

<body>
  <div
    class="fixed w-10 h-10 cursor-pointer bottom-10 right-10 bg-[#fff3] z-50 from-indigo-500 to-violet-700 shadow-xl backdrop-blur-md grid place-content-center text-4xl rounded-lg ">
    &blacktriangle;</div>
  {{{body}}}
  <script src="js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>