<div class="flex w-full flex-col min-h-screen items-center FOF dark:bg-gray-900">
    <header class="bg-bg-color p-6 w-full">
        <div class="flex items-center space-x-4 max-w-fit cursor-pointer" href="" onclick="goBack()">
            <img src="/images/svg/arrow_back.svg" alt="Back to home" class="w-7">
            <span class="text-white">Back</span>
        </div>
    </header>
    <div class="ring-2 p-4 dark:bg-[#fff1] backdrop-blur-lg md:mt-12 mt-10 rounded-md">
        <h1 class="sm:text-2xl  font-medium text-center">
            {{msg}}
        </h1>
    </div>
</div>