<div class="flex w-full flex-col min-h-screen items-center FOF dark:bg-gray-900">
    <header class="bg-bg-color p-6 w-full">
        <div class="flex items-center space-x-4 max-w-fit cursor-pointer" href="" onclick="goBack()">
            <img src="/images/svg/arrow_back.svg" alt="Back to home" class="w-7">
            <span class="text-white">Back</span>
        </div>
    </header>
    <h1 class="sm:text-2xl md:mt-32 mt-10 font-medium text-center">
        {{msg}}
    </h1>
</div>