<div class="flex w-full flex-col min-h-screen items-center ERROR dark:bg-gray-900">
    <header class="bg-bg-color p-6 w-full">
        <div class="flex items-center space-x-4 max-w-fit cursor-pointer" href="" onclick="goBack()">
            <img src="/images/svg/arrow_back.svg" alt="Back to home" class="w-7">
            <span class="text-white">Back</span>
        </div>
    </header>
    <div class="p-4 ring-2 mt-12 ring-primary rounded bg-red-300 text-gray-100 m-4">
        <h1 class="text-2xl font-medium">
            {{msg}}
        </h1>
    </div>
</div>