<section class="header font-san h-[50vh] sm:h-[80vh]">
  {{> header}}
  <div class="header w-full sm:w-1/2 p-4 sm:p-6 space-y-4 my-4 py-3 ">
    <h1 class="md:text-5xl text-2xl text-white"> Department of {{department.name}}</h1>
    <h3 class="md:text-4xl text-xl  text-gray-700">University of Unicef</h3>
  </div>
</section>

{{!-- ?main section --}}
{{> carousel}}
<section class="main content" id="top">
  <main>
  </main>
</section>

{{!-- ?footer --}}
{{> footer}}