{{> header}}
<main class="min-h-screen flex items-center justify-center">
    <section
        class=" min-h-fit bg-[#fff9] dark:bg-[#fff2] backdrop:blur-lg max-w-sm mx-6 rounded-xl p-2 inline-block gap-4 shadow-lg">
        <h1 class="text-center font-300 text-3xl text-indigo-900 dark:text-gray-300 mt-2">{{title}} Form</h1>
        <div class="flex items-center justify-center"><img src="/images/favicon.ico" class="w-[4rem]" alt="logo"></div>
        {{> form}}
    </section>
</main>
{{> footer}}